In [1]:
import pandas as pd

In [ ]:
# For this second Excel dataset, I took advantage of the fact that we were allowed to use external programes.
# I created a copy of the excel file and changed it into something that was more managable.

# 1.  I unmerged all of the cells that had been merged together, to do this I used the keyboard shortcut 'ALT + H + M + U'.
# 2.  I filled in all the cells that were previously merged with the value that they were previously merged to.
# 3.  I filled in the headings of the first three columns with 'Age', 'Sex' and 'Participant' respectively.
# 4.  I took the '2010' that was on top of the table and brought it down so that it was just under the heading row and 
#     was in a new column.
# 5.  I added a header to this column which was 'Year'.
# 6.  I coppied the value '2010' all the way down the table untill the row 145.
# 7.  I deleted the top row which was empty to put the table in the top left corner.
# 8.  I also noticed from looking through the data that one of the rows had the value '1.3' in the 'Injured Cassualties (Number)'
#     column.
# 9.  I knew this value was wrong as this column must only contain whole values so I made the assumption that this value was 
#     supposed to be '13' insead and I deleted the decimal point within the number.
# 10. I also thought about changing this value to 1, however I decided upon the value 13 as I felt it was more likely to put 
#     in an accidental decimal point as opposed to an accidental decimal point along with an accidental number three.
# 11. I then read the data into pandas to form a dataframe from this copied file.

In [2]:
#READ IN THE FILES

#read the first excel file into 2 different dataframes of its 2 sheets seperate
df_excel1_sheet_1 = pd.read_excel('../data/raw/rsa_2005-2006.xlsx', sheet_name=0)
df_excel1_sheet_2 = pd.read_excel('../data/raw/rsa_2005-2006.xlsx', sheet_name=1)

#read in the json file
df_json = pd.read_json('../data/raw/rsa_2007.json')

#read in the txt file as 2 seperate dataframes of their seperate years
df_txt_2008 = pd.read_csv('../data/raw/rsa_2008-2009.txt', sep='\t', usecols=['Age','Sex','Participant','Casualty','2008'])
df_txt_2009 = pd.read_csv('../data/raw/rsa_2008-2009.txt', sep='\t', usecols=['Age','Sex','Participant','Casualty','2009'])

#read in the second Excel file, one for where people were killed and one for where people were injured
df_excel2_killed = pd.read_excel('../data/processed/copy_rsa_2010.xlsx', usecols=[0,1,2,3,5])
df_excel2_injured = pd.read_excel('../data/processed/copy_rsa_2010.xlsx', usecols=[0,1,2,4,5])

#read in the csv file as 2 seperate dataframes of their seperate years
df_csv_2011 = pd.read_csv('../data/raw/rsa_2011-2012.csv', usecols=['Age', 'Sex', 'Participant', 'Casualty', '2011'])
df_csv_2012 = pd.read_csv('../data/raw/rsa_2011-2012.csv', usecols=['Age', 'Sex', 'Participant', 'Casualty', '2012'])

In [3]:
# CREATE A 'YEAR' ATTIBUTE IN EACH OF THE DATAFRAMES

In [4]:
#Create a dataframe containing only the column 'Year'

df_year = pd.DataFrame(columns = ['Year'])
df_year.head()

Empty DataFrame
Columns: [Year]
Index: []

In [5]:
#Add this 'Year' dataframe to all of the other Dataframes

#Excel 1 - sheet 1 & sheet 2 dataframes
df_excel1_sheet_1 = pd.concat([df_excel1_sheet_1, df_year], axis=1)
df_excel1_sheet_2 = pd.concat([df_excel1_sheet_2, df_year], axis=1)

#Json dataframe
df_json = pd.concat([df_json, df_year], axis=1)

#Text File - 2008 Year & 2009 Year dataframes
df_txt_2008 = pd.concat([df_txt_2008, df_year], axis = 1)
df_txt_2009 = pd.concat([df_txt_2009, df_year], axis = 1)

#Excel 2 - Killed & Injured dataframes
# I had already added this 'Year' column to the data when I copied the excel data and re-worked it a little bit
# This could have been done the same was as it was done with the other data files

#CSV File - 2011 Year & 2012 Year dataframes
df_csv_2011 = pd.concat([df_csv_2011, df_year], axis = 1)
df_csv_2012 = pd.concat([df_csv_2012, df_year], axis = 1)

In [6]:
#PUT THE RESPECTIVE YEAR INTO THE COLUMN 'Year' IN EACH ROW OF EACH OF THE DATAFRAMES

#Excel 1 - sheet 1 & sheet 2 dataframes
df_excel1_sheet_1['Year'] = 2005
df_excel1_sheet_2['Year'] = 2006

#Json dataframe
df_json['Year'] = 2007

#Text File - 2008 Year & 2009 Year dataframes
df_txt_2008['Year'] = 2008
df_txt_2009['Year'] = 2009

#Excel 2 - Killed & Injured dataframes
# I had already copied the year attribute '2010' along this column when I copied the excel data and re-worked it a little bit
# I could have done this the same way as the I did with the other dataframes though

#CSV File - 2011 Year & 2012 Year dataframes
df_csv_2011['Year'] = 2011
df_csv_2012['Year'] = 2012

In [7]:
#Create a dataframe containing only the column 'Casualty'

df_Casualty = pd.DataFrame(columns = ['Casualty'])
df_Casualty.head()

Empty DataFrame
Columns: [Casualty]
Index: []

In [8]:
#Add the 'Casualty' Column to the two dataframes that came from the second Excle file

df_excel2_killed = pd.concat([df_excel2_killed, df_Casualty], axis=1)
df_excel2_injured = pd.concat([df_excel2_injured, df_Casualty], axis=1)

In [9]:
#Insert the Casualty value into the 'Casualty' Column in the two dataframes that came from the second Excle file

df_excel2_killed['Casualty'] = 'Killed'
df_excel2_injured['Casualty'] = 'Injured'

In [10]:
# RENAME THE COLUMN THAT CONTAINS THE NUMBER OF CASUALTIES FROM THE YEAR TO 'Total'

#Excel 1 - sheet 1 & sheet 2 dataframes
df_excel1_sheet_1 = df_excel1_sheet_1.rename(columns={2005:'Total'})
df_excel1_sheet_2 = df_excel1_sheet_2.rename(columns={2006:'Total'})

#Json dataframe
df_json = df_json.rename(columns={'2007':'Total'})

#Text File - 2008 Year & 2009 Year dataframes
df_txt_2008 = df_txt_2008.rename(columns={'2008': 'Total'})
df_txt_2009.rename(columns={'2009': 'Total'},inplace=True)

#Excel 2 - Killed & Injured dataframes
df_excel2_killed.rename(columns={'Killed Casualties (Number)': 'Total'}, inplace=True)
df_excel2_injured.rename(columns={'Injured Cassualties (Number)': 'Total'}, inplace=True) #(I did notice spelling mistake)

#CSV File - 2011 Year & 2012 Year dataframes
df_csv_2011.rename(columns={'2011': 'Total'},inplace=True)
df_csv_2012.rename(columns={'2012': 'Total'},inplace=True)

In [11]:
# Change the type of the 'Total' column in the Excel2 - injured dataframe to integer type

df_excel2_injured['Total'] = df_excel2_injured['Total'].astype(int)

In [12]:
# MERGE THE DATAFRAMES TOGETHER

#Excel 1 - sheet 1 & sheet 2 dataframes
both_sheets = [df_excel1_sheet_1, df_excel1_sheet_2]
df_excel1 = pd.concat(both_sheets, axis=0, ignore_index=True)

#Text File - 2008 Year & 2009 Year
df_txt = pd.concat([df_txt_2008, df_txt_2009], axis=0, ignore_index=True)

#Excel 2 - Killed & Injured Datframes
df_excel2 = pd.concat([df_excel2_injured, df_excel2_killed], axis=0, ignore_index=True)

#CSV File - 2011 Year & 2012 Year
df_csv = pd.concat([df_csv_2011, df_csv_2012], axis=0, ignore_index=True)

In [13]:
# SORT THE COLUMNS TO A UNIFORM ORDER

# First excel dataframe
df_excel1 = df_excel1.reindex(['Year','Age', 'Sex', 'Participant', 'Casualty', 'Total'], axis=1)

# Json dataframe
df_json = df_json.reindex(['Year','Age', 'Sex', 'Participant', 'Casualty', 'Total'], axis=1)

# Text file dataframe
df_txt = df_txt.reindex(['Year','Age', 'Sex', 'Participant', 'Casualty', 'Total'], axis=1)

# Second excel Dataframe
df_excel2 = df_excel2.reindex(['Year','Age', 'Sex', 'Participant', 'Casualty', 'Total'], axis=1)

# Csv Dataframe
df_csv = df_csv.reindex(['Year','Age', 'Sex', 'Participant', 'Casualty', 'Total'], axis=1)

In [14]:
# MERGE ALL DATAFRAMES INTO ONE

df1 = pd.concat([df_excel1, df_txt], axis=0, ignore_index=True)

df2 = pd.concat([df_excel2, df_csv], axis=0, ignore_index=True)

df3 = pd.concat([df2, df_json], axis=0, ignore_index=True)

df = pd.concat([df1, df3], axis=0, ignore_index=True)

In [15]:
#turn single digit numbers in the 'Age' column into double digits to help sorting
df = df.replace(to_replace='0 - 5 years', value='00 - 05 years')
df = df.replace(to_replace='6 - 9 years', value='06 - 09 years')

In [16]:
# Sort Dataframe by its Columns
df = df.sort_values(by=['Year', 'Age', 'Sex', 'Participant', 'Casualty', 'Total'], ascending=[True,True,False,False,True,False])
df = df.reset_index(drop=True)

In [ ]:
# turn the dataframe into a CSV to open in 'Open Refine'
df.to_csv('../data/processed/Processed_dataframe-csv.csv')

In [17]:
# get the info of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 6 columns):
Year           2304 non-null int64
Age            2304 non-null object
Sex            2304 non-null object
Participant    2304 non-null object
Casualty       2304 non-null object
Total          2304 non-null object
dtypes: int64(1), object(5)
memory usage: 108.1+ KB